:root {
    --cor-de-fundo: rgb(141, 131, 228);
}

.cabecalho-menu {
  background-color: var(--cor-de-fundo);
}

.cabecalho-menu-ite {
  display: block;
  padding: 18px;
  font-size: 23px;
  text-decoration: line-through;
  color: aliceblue;
  text-align: center;
  border-top: 1px solid;
}